<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div class="border-principal">
        <div class="relative">
        <div class="gray">
            <div class="link1">
                <div>Link1</div>
                <div>Link2</div>
                <div>Link3</div>
            </div>
            <div class="link2">
                <div>Link1</div>
                <div>Link2</div>
                <div>Link3</div>
            </div>
    
        </div>
        </div>



        <div class="border-secondaire">
            <div><a href="#">Contact us</a></div>
            <div><a href="#">Home</a></div>
            <div><a href="#">Remember</a></div>
            <div><a href="#">Dome</a></div>

        </div>
        <div class="box">
            <div class="nbr">1</div>
            <div class="nbr2">2</div>
            <div class="nbr3">3</div>
        </div>
        <div class="text">
            <h1>Bakeli school of technology - #flexbox</h1>
        </div>
    </div>
</body>
</html>